body {
	font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica,
		"Lucida Grande", "Luxi Sans", Arial, sans-serif;
}

.btn {
	border-width: 0;
}

.btn-group>.btn,.btn-group+.btn {
	border-width: 0px !important;
}

.page-header {
	padding-bottom: 5px;
}

.page-content {
	padding: 8px 20px 10px;
}

.form-horizontal .controls {
	margin-left: 100px;
}

.form-horizontal .control-group {
	margin-bottom: 6px;
}

.modal-header {
	padding: 0px 15px;
}

.modal-body {
	padding: 10px;
}

.modal-backdrop,.modal-backdrop.fade.in {
	opacity: .15;
	filter: alpha(opacity = 15);
}

.tooltip.in {
	opacity: 0.8;
	filter: alpha(opacity = 80);
}

.tooltip-inner {
	font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica,
		"Lucida Grande", "Luxi Sans", Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

.tooltip-warning+.tooltip>.tooltip-inner {
	background-color: #f9f2ba;
	color: #5b5316;
	border: 1px solid #e9d315;
}

.tooltip-warning+.tooltip.top .tooltip-arrow {
	border-top-color: #e9d315
}

.tooltip-warning+.tooltip.right .tooltip-arrow {
	border-right-color: #e9d315
}

.tooltip-warning+.tooltip.left .tooltip-arrow {
	border-left-color: #e9d315
}

.tooltip-warning+.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #e9d315
}