body {
	font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica,
		"Lucida Grande", "Luxi Sans", Arial, sans-serif;
}

.btn {
	border-width: 0;
}

.btn-group>.btn,.btn-group+.btn {
	border-width: 0px !important;
}

.page-header {
	padding-bottom: 5px;
}

.page-content {
	padding: 8px 20px 10px;
}

.modal-backdrop,.modal-backdrop.fade.in {
	opacity: .15;
	filter: alpha(opacity =  15);
}

.form-horizontal .controls {
	margin-left: 100px;
}